/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

Body {
    font-size: 16px;
}
header {
    background: linear-gradient();
    color: blue;
    padding: 1rem 2rem;
    text-align: center;
}
nav {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}
nav button {
    flex-basis: 48%;
    margin: 2px;
    background-color: aqua;
}
#viewer {
    margin: .5rem 2 vw;
    border-radius: 10px;
    border: 1px;
}
#viewer img {
    width: 100%;
    display: block;
}
#viewer h2 {
    margin: 0;
    background-color: pink;
    color: white;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#viewer ul {
    margin: 0;
    padding: 0 0 .5rem 1rem;
    color: purple;
    margin-left: 20px;
}
#viewer p {
    padding: .1rem 2%;
}