@media only screen and (min-width: 80rem) {
body.paintList .cardContainer figure {
    background-color: rgba(100, 100, 100, 0.2);
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6), 0 0 0 1px rgba(255, 255, 255, 0.1);
    margin: 20px 0;
    position: static;
    border: 1px solid #333;
    border-radius: 4px;
    overflow: hidden;
}
} /* end media query*/