@media only screen and (min-width: 60rem) {
body {
    padding-left: 8vw;
    padding-right: 8vw;
}

main figure {
  position: fixed;
  top: 15vh;
  left: 50%;
  transform: translateX(-50%);
  
  width: fit-content;
  max-width: 80vw; /* keeps it from stretching too wide */
  
  padding: 10px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(0,255,255,.3);
  box-shadow: 0 0 20px rgba(0,255,255,.4);
}
} /* end media query*/